.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: helvetica LT - condensed, sans-serif;
    &__item {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.13;
        cursor: pointer;
    }
}