.skills {
    background-color: $bg-color;
    color: #ffffff;
    &__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.95;
    }
    &__list {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.08;
    }
    &__item {}
}