.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #d0d0d0;
    &__text {
        margin-bottom: 0;
        font-family: bebas-neue, sans-serif;
        font-size: 37px;
        font-weight: 400;
        line-height: 0.51;
    }
    &__description {
        margin-bottom: 0;
        font-family: "Arial MT", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.27;
    }
}